<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,">

    <title>PayQuest</title>
     <link rel ="styleSheet" href="static/styles.css">


     
</head>
 <body>
    {% block content %}
    {% if user.is_authenticated %}
    <p></p>
    {% else %}
    <a id="login" href="/accounts/login/">Login</a>
    {% endif %}
    {% endblock %}

    <div id="div1"></div>
    <div id="div2"></div>
    <div id="div3"></div>
    <div id="div4"></div>
    <div id="div5"></div>
    <div id="div6"></div>
    <div id="div7"></div>
    <div id="div8"></div>
    <div id="div9"></div>
    <div id="div10"></div>
    <div id="div11"></div>
    <div id="div12"></div>
    <div id="div13"></div>
    <div id="div14"></div>
    <div id="div15"></div>
    <div id="div16"></div>
    <div id="div17"></div>
    <div id="div18"></div>
    <div id="div19"></div>
    <div id="div20"></div>
    <div id="div21"></div>
    <div id="div22"></div>
    <div id="div23"></div>
    <div id="div24"></div>



    <a id = "Tavern" href="Tavern">Tavern</a>

    <a id="profile" href="profile"><img id="imageDisplay" src="" alt="Stored Image"></a>






    <script>
        window.onload = function() {
            var imageData = localStorage.getItem('imageData');
            if (imageData) {
                var imageDisplay = document.getElementById('imageDisplay');
                imageDisplay.src = imageData;
            } else {
                console.log('No image found in local storage.');
            }
        };
    </script>


 </body>
</html>
