<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,">

    <title>PayQuest</title>
     <link rel ="styleSheet" href="static/styles.css">
     <link rel ="styleSheet" href="static/backgroundanimation.css">

     
</head>
 <body>
    {% block content %}
    {% if user.is_authenticated %}
    <p></p>
    {% else %}
    <a id="login" href="/accounts/login/">Login</a>
    {% endif %}
    {% endblock %}


    <div id="div1">
        
        <h1></h1></div>
    <div id="div2"></div>
    <div id="div3"></div>
    <div id="div4"></div>
    <div id="div5"></div>

    <a id = "Tavern" href="Tavern">Tavern</a>

    <a id="profile" href="profile"><img id="imageDisplay" src="" alt="Stored Image"></a>






    <script>
        window.onload = function() {
            var imageData = localStorage.getItem('imageData');
            if (imageData) {
                var imageDisplay = document.getElementById('imageDisplay');
                imageDisplay.src = imageData;
            } else {
                console.log('No image found in local storage.');
            }
        };
    </script>


 </body>
</html>
