<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PayQuest</title>
     <link rel ="styleSheet" href="static/styles.css">
     <meta name="viewport" content="width=device-width, initial-scale=0.50, maximum-scale:0.5,minimum-scale:1.0">
     
</head>
<body>
        <div class="topnav">
        <a class = link href="Tavern">Tavern</a>
        <a href="contact.html">Contact</a>
        <a href="profile.html" id="profile">Profile</a>
        <a id="profile" href="profile">Profile</a>
        <a id="profile_name" href="profile">Profile</a>
    </div>
</body>
</html>
