<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PayQuest</title>
    <link rel ="styleSheet" href="static/ProfileStyle.css">
</head>
<body id="Profile_style">
        <div class="topnav">
        <a id ="back_button" href ="{{request.META.HTTP_REFERER|escape}}">Back</a>
        <a id="contact" href="contact">Contact</a>
    </div>

    <h1 id="cube"></h1>
    <h1 id="cube2"></h1>
    <h1 id="cube3"></h1>

</body>
</html>
