<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Request</title>
</head>
<body>
    
    <body onload="loadFromLocalStorage()">
        <textarea id="userinfo" rows="10" cols="40" name="User Info" spellcheck="true"></textarea>
        <button id="help" onclick="saveLocally()">Save</button>
    
        <script>
            function saveLocally() {
                var input = document.getElementById("userinfo");
                var textData = input.value;
                localStorage.setItem('userinfo', textData);
                console.log('Text stored in local storage.');
            }
    
            function loadFromLocalStorage() {
                var textData = localStorage.getItem('userinfo');
                if (textData) {
                    document.getElementById('userinfo').value = textData;
                    console.log('Text loaded from local storage.');
                } else {
                    console.log('No text data found in local storage.');
                }
            }        
        </script>
</body>
</html>