<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PayQuest</title>
     <link rel ="styleSheet" href="static/styles.css">
     <meta name="viewport" content="width=device-width, initial-scale=0.50, maximum-scale:0.5,minimum-scale:1.0">
</head>
<body id="body1">
        <div class="topnav">
        <a id="LEAVE" class="active" href="http://127.0.0.1:8000/">Home</a>
        <a id="board" href="board">Quest Board</a>
        <a href="contact">Contact</a>
        <a id="profile" href="profile">Profile</a>
        <a id="profile_name" href="profile">Profile</a>
    </div>
</body>
</html>
