<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PayQuest</title>
     <link rel ="styleSheet" href="static/Tavernstyle.css">
     <meta name="viewport" content="width=device-width, initial-scale=0.50, maximum-scale:0.5,minimum-scale:1.0">
     
</head>
<body id="body1">


    <h1 id="wall"></h1>
    <h1 id="wall2"></h1>
    <h1 id="wall3"></h1>
    <h1 id="wall4"></h1>
    <h1 id="wall5"></h1>
    <h1 id="wall6"></h1>
    <h1 id="wall7"></h1>
    <img id ="TavernPng" src="static/images/Tavern.png" alt="Tavern PNG">









    <h1 id="BB"></h1>

        <div class="topnav">
        <a id="HOME" class="active" href="http://127.0.0.1:8000/">Home</a>
        <a id="board" href="board">Quest Board</a>
        <a href="contact">Contact</a>
        <a id="profile" href="profile"><img id="imageDisplay" src="" alt="Stored Image"></a>
        <a id="arrow-left" href="http://127.0.0.1:8000/"></a>
        <a id="Request" href="request">Request</a>
    </div>

<h1 id="PFPD"></h1>

<script>
    window.onload = function() {
        var imageData = localStorage.getItem('imageData');
        if (imageData) {
            var imageDisplay = document.getElementById('imageDisplay');
            imageDisplay.src = imageData;
        } else {
            console.log('No image found in local storage.');
        }
    };
</script>

</body>
</html>
