<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel ="stylesheet" href="static/login.css">
</head>
<body>


    {% block title%}Login{% endblock %}

    {% block content %}
    <h2>Log In</h2>
    <form method="post">
    {% csrf_token %}
    {{form}}
    <button type="submit">Log In</button>
    </form>
    {% endblock %}

    <h3>No account? Register! </h3><a id="Reg" href="http://127.0.0.1:8000/accounts/signup/">Register</a>



</body>
</html>