@keyframes an1{
    0%{background-color:blue; bottom:-7%; left:10%;}
    5%{background-color:rgb(0, 0, 185); bottom:5%; left:15%;}
    10%{background-color:rgb(39, 39, 146); bottom:10%; left:10%;}
    15%{background-color:rgb(12, 12, 77); bottom:15%; left:15%;}
    20%{background-color:rgb(19, 19, 139); bottom:20%; left:10%;}
    25%{background-color:blue; bottom:25%; left:15%;}
    30%{background-color:rgb(44, 44, 255); bottom:30%; left:10%;}
    35%{background-color:rgb(0, 0, 145); bottom:35%; left:15%;}
    40%{background-color:rgb(49, 49, 255); bottom:40%; left:10%;}
    45%{background-color:rgb(0, 0, 146); bottom:45%; left:15%;}
    50%{background-color:blue; bottom:50%; left:10%;}
    55%{background-color:rgb(57, 57, 255); bottom:55%; left:15%;}
    60%{background-color:blue; bottom:60%; left:10%;}
    65%{background-color:rgb(55, 55, 173); bottom:65%; left:15%;}
    70%{background-color:blue; bottom:70%; left:10%;}
    75%{background-color:rgb(0, 0, 133); bottom:75%; left:15%;}
    80%{background-color:rgb(68, 68, 255); bottom:80%; left:10%;}
    85%{background-color:blue; bottom:85%; left:15%;}
    90%{background-color:rgb(0, 0, 190); bottom:90%; left:10%;}
    95%{background-color:blue; bottom:95%; left:15%;}
    100%{background-color:rgb(0, 0, 167); bottom:150%; left:10%;}

}


#div2 {
position:fixed;
width: 100px;
height: 100px;
background-color: rgb(0, 4, 255);
animation-name: an1;
animation-duration: 20s;
animation-iteration-count: infinite;
border-radius: 100%;

}
#div3 {
position:fixed;
width: 100px;
height: 100px;
background-color: rgb(0, 4, 255);
animation-name: an1;
animation-duration: 20s;
animation-iteration-count: infinite;
border-radius: 100%;
left:20%;
animation-delay: -5s;

}

#div4 {
position:fixed;
width: 100px;
height: 100px;
background-color: rgb(0, 4, 255);
animation-name: an1;
animation-duration: 20s;
animation-iteration-count: infinite;
border-radius: 100%;
left:20%;
animation-delay: -6s;

}

#div5 {
position:fixed;
width: 100px;
height: 100px;
background-color: rgb(0, 4, 255);
animation-name: an1;
animation-duration: 20s;
animation-iteration-count: infinite;
border-radius: 100%;
left:20%;
animation-delay: -9.5s;

}

#div6 {
position:fixed;
width: 100px;
height: 100px;
background-color: rgb(0, 4, 255);
animation-name: an1;
animation-duration: 20s;
animation-iteration-count: infinite;
border-radius: 100%;
left:20%;
animation-delay: -14.5s;

}
