
#cube{
    background-color: rgb(163, 163, 163);
    position:absolute;
    width:70%;
    height:70%;
    right: 20%;
    top:10%;
    text-align: center;
  }

  #cube2{
    background-color: rgb(124, 124, 124);
    position:absolute;
    width:20%;
    height:10%;
    right: 25%;
    top:15%;
    text-align: center;
  }

  #cube3{
    background-color: rgb(124, 124, 124);
    position:absolute;
    width:20%;
    height:50%;
    right:65%;
    top:20%;
    text-align: center;
  }

  #cube4{
    background-color: rgb(124, 124, 124);
    position:absolute;
    width:35%;
    height:30%;
    right:25%;
    top:40%;
    text-align: center;
  }




  #back_button:visited{
    position:absolute;
    left:3%;

    color:white;
    text-decoration: none;
  }

  #back_button:link{
    position:absolute;
    color:white;
    left:3%;
    background-color: black;
    text-decoration: none;
    padding: 1%;
    width:5%;
    text-align: center;


  
  }

  #back_button:hover{
    background-color:white;
    display: block;
    color:black;
    border-width:3px;
    

  }
>>>>>>> 544a21203bc3a151b796906e46ad05ff7fe1c220
