#body0{
 background-image: url('https://images.unsplash.com/photo-1649598788739-9d33194d724f?q=80&w=2068&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
 background-repeat: no-repeat;
 background-size:100%;
 background-position-x: 50%;
 background-position-y: 0%;
}

#body1{
 background-image: url('https://assets.housingsnap.com/uploads/paragraph/image/254845/6b48a280a98af587dc7d416f38ba5d0e_watermark.jpg');
 background-repeat: no-repeat;
 background-size:100%;
 background-position-x: 50%;
 background-position-y: 25%;

}

#body4{

  background-color: black;
}

#DTTST{
  background-color: white;
  position: absolute;
  top: 20%;
  right: 5%;
  font-size: 1000%;

}


.container {
    position: relative;
    width: 400px;
    height: 300px;
  }
  
  .link {
    position: absolute;
    top: 46.5%;
    right: 33%;
    color:orange;
    text-decoration: none;
    display: block;
    background-color: black;
    height: 6.5%;
    width:3%;
    text-align: center;
    border-radius: 100%, 100%, 100%,100%;
    border:solid;
    border-color: orange;
    border-bottom-color: black;
  }

  .link:hover{

    background-color:White;
    border-bottom-color: white;
  }

.active{
    position:absolute;
    color:white;
    background-color: black;
    right: 0px;
    bottom: 5px;
    text-decoration: none;
    display: block;
    width: 2000px;
    height: 50px;
    text-align: center;
    
  
    
  }

  .active:hover{
    color:black;
    background-color: white;

  }


  #profile, #imageDisplay, #profilePicture{
    position:absolute;
    top:1%;
    right: 1%;
    width: 30%;
    height:40%;
    text-align: center;
    color:rgba(250, 235, 215, 0);
    border-style: hidden;
    border-radius: 100%;
    
  }

  #profile_name{
    position:absolute;
    color:black;
    right:125px;
    top: 230px;
    position:absolute;
    text-decoration: none;
  }

  #Profile_style{
    background-color: rgb(255, 255, 255);


  }

  #cube{
    background-color: rgb(163, 163, 163);
    position:absolute;
    width:70%;
    height:70%;
    right: 20%;
    top:10%;
    text-align: center;
  }
  

  #back_button:visited{
    position:absolute;
    left:3%;

    color:white;
    text-decoration: none;
  }

  #back_button:link{
    position:absolute;
    color:white;
    left:3%;
    background-color: black;
    text-decoration: none;
    padding: 1%;
    width:5%;
    text-align: center;


  
  }

  #back_button:hover{
    background-color:white;
    display: block;
    color:black;
    border-width:3px;
    border-color:black;
  }

