
body{

  background-color: black;
  position: fixed;

 }



@keyframes example {
  0% {background-color:blue; color:gold;}
  50% {background-color: red; color: green;}
  75% {background-color: yellow;color: purple;}
  85% {background-color: green; color: red;}
  100% {background-color: blue; color: gold;}
  
}


 #login{
  text-decoration: none;
  position: absolute;
  right:5%;
  top: 21.5%;
  background-color: black;
  color:white;
  border:hidden;
  border-radius:5%;

}

#nobody{
  size:100%;
  background-color: brown;
  color:brown;

}

#backdrop{
  background-size:100%;
  position: absolute;
  color:brown;


}

a{
  scrollbar-gutter: auto;
  text-overflow: clip;

}



#DTTST{
  background-color: white;
  position: absolute;
  top: 20%;
  right: 5%;
  font-size: 1000%;

}


.container {
    position: relative;
    width: 400%;
    height: 300vh;
  }
  
  #Tavern{
    position:fixed;
    border-radius: 5%;

    top:50%;
    right:35%;
    animation-name: example;
    animation-duration: 12s;
    animation-iteration-count: infinite;
    animation-delay: -2s;
    height:10%;
    width:30%;
    text-align: center;
    font-size: 500%;
    text-decoration: none;
    -webkit-text-size-adjust: 100%;
    
  }

  #Tavern:hover{

    background-color:White;
    border-bottom-color: white;
  }
  
  @keyframes p1{
    0%{right:0%; top:0%;}
    10%{right:35%;top:25%;}
    15%{right:40%; top:45%;}
    25%{right:80%;top:50%;}
    30%{right:40%; top:5%}
    35%{right:50%; top:30%;}
    40%{right:53%;top:15%;}
    45%{right:40%; top:45%;}
    50%{right:20%;top:0%;}
    55%{right:45%; top:8%}
    60%{right:90%; top:25%;}
    70%{right:10%;top:15%;}
    75%{right:74%; top:45%;}
    80%{right:80%;top:80%;}
    85%{right:30%; top:65%}
    90%{right:85%; top:50%;}
    92%{right:30%;top:15%;}
    94%{right:40%; top:25%;}
    98%{right:20%;top:5%;}
    100%{right:0%; top:0%}
  
  
  }



  body{

    background-color: black;
    position: fixed;
  
   }


  
  
  
  @keyframes example {
    0% {background-color:blue; color:gold;}
    50% {background-color: red; color: green;}
    75% {background-color: yellow;color: purple;}
    85% {background-color: green; color: red;}
    100% {background-color: blue; color: gold;}
    
  }
  
  
   #login{
    text-decoration: none;
    position: absolute;
    right:5%;
    top: 21.5%;
    background-color: black;
    color:white;
    border:hidden;
    border-radius:5%;
  
  }
  
  #nobody{
    size:100%;
    background-color: brown;
    color:brown;
  
  }
  
  #backdrop{
    background-size:100%;
    position: absolute;
    color:brown;
  
  
  }
  
  a{
    scrollbar-gutter: auto;
    text-overflow: clip;
  
  }
  
  
  
  #DTTST{
    background-color: white;
    position: absolute;
    top: 20%;
    right: 5%;
    font-size: 1000%;
  
  }
  
  
  .container {
      position: relative;
      width: 400%;
      height: 300vh;
    }
    
    #Tavern{
      position:fixed;
      border-radius: 5%;
  
      top:50%;
      right:35%;
      animation-name: example;
      animation-duration: 12s;
      animation-iteration-count: infinite;
      animation-delay: -2s;
      height:10%;
      width:30%;
      text-align: center;
      font-size: 500%;
      text-decoration: none;
      
      
    }
  
    #Tavern:hover{
  
      background-color:White;
      border-bottom-color: white;
    }
    
    @keyframes p1{
      0%{right:0%; top:0%;}
      10%{right:10%;top:15%;}
      15%{right:40%; top:45%;}
      25%{right:80%;top:90%;}
      30%{right:40%; top:5%}
      35%{right:50%; top:30%;}
      40%{right:53%;top:15%;}
      45%{right:40%; top:45%;}
      50%{right:20%;top:0%;}
      55%{right:45%; top:8%}
      60%{right:90%; top:25%;}
      70%{right:10%;top:15%;}
      75%{right:74%; top:45%;}
      80%{right:80%;top:90%;}
      85%{right:30%; top:45%}
      90%{right:85%; top:50%;}
      92%{right:30%;top:15%;}
      94%{right:40%; top:45%;}
      98%{right:20%;top:0%;}
      100%{right:5%; top:8%}
    
    
    }
  
  
    @keyframes an1{
      0%{background-color:blue; bottom:-7%; left:10%;}
      5%{background-color:rgb(0, 0, 185); bottom:5%; left:15%;}
      10%{background-color:rgb(39, 39, 146); bottom:10%; left:10%;}
      15%{background-color:rgb(12, 12, 77); bottom:15%; left:15%;}
      20%{background-color:rgb(19, 19, 139); bottom:20%; left:10%;}
      25%{background-color:blue; bottom:25%; left:15%;}
      30%{background-color:rgb(44, 44, 255); bottom:30%; left:10%;}
      35%{background-color:rgb(0, 0, 145); bottom:35%; left:15%;}
      40%{background-color:rgb(49, 49, 255); bottom:40%; left:10%;}
      45%{background-color:rgb(0, 0, 146); bottom:45%; left:15%;}
      50%{background-color:blue; bottom:50%; left:10%;}
      55%{background-color:rgb(57, 57, 255); bottom:55%; left:15%;}
      60%{background-color:blue; bottom:60%; left:10%;}
      65%{background-color:rgb(55, 55, 173); bottom:65%; left:15%;}
      70%{background-color:blue; bottom:70%; left:10%;}
      75%{background-color:rgb(0, 0, 133); bottom:75%; left:15%;}
      80%{background-color:rgb(68, 68, 255); bottom:80%; left:10%;}
      85%{background-color:blue; bottom:85%; left:15%;}
      90%{background-color:rgb(0, 0, 190); bottom:90%; left:10%;}
      95%{background-color:blue; bottom:95%; left:15%;}
      100%{background-color:rgb(0, 0, 167); bottom:150%; left:10%;}
  
  }


#div2 {
  position:fixed;
  width: 100px;
  height: 100px;
  background-color: rgb(0, 4, 255);
  animation-name: an1;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  border-radius: 100%;
  
}
#div3 {
  position:fixed;
  width: 100px;
  height: 100px;
  background-color: rgb(0, 4, 255);
  animation-name: an1;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  border-radius: 100%;
  left:20%;
  animation-delay: -5s;
  
}

#div4 {
  position:fixed;
  width: 100px;
  height: 100px;
  background-color: rgb(0, 4, 255);
  animation-name: an1;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  border-radius: 100%;
  left:20%;
  animation-delay: -6s;
  
}

#div5 {
  position:fixed;
  width: 100px;
  height: 100px;
  background-color: rgb(0, 4, 255);
  animation-name: an1;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  border-radius: 100%;
  left:20%;
  animation-delay: -9.5s;
  
}

#div6 {
  position:fixed;
  width: 100px;
  height: 100px;
  background-color: rgb(0, 4, 255);
  animation-name: an1;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  border-radius: 100%;
  left:20%;
  animation-delay: -14.5s;
  
}

@keyframes an2{
  0%{background-color:blue; bottom:-7%; left:30%;}
  5%{background-color:rgb(0, 0, 185); bottom:5%; left:35%;}
  10%{background-color:rgb(39, 39, 146); bottom:10%; left:30%;}
  15%{background-color:rgb(12, 12, 77); bottom:15%; left:35%;}
  20%{background-color:rgb(19, 19, 139); bottom:20%; left:30%;}
  25%{background-color:blue; bottom:25%; left:35%;}
  30%{background-color:rgb(44, 44, 255); bottom:30%; left:30%;}
  35%{background-color:rgb(0, 0, 145); bottom:35%; left:35%;}
  40%{background-color:rgb(49, 49, 255); bottom:40%; left:30%;}
  45%{background-color:rgb(0, 0, 146); bottom:45%; left:35%;}
  50%{background-color:blue; bottom:50%; left:30%;}
  55%{background-color:rgb(57, 57, 255); bottom:55%; left:35%;}
  60%{background-color:blue; bottom:60%; left:30%;}
  65%{background-color:rgb(55, 55, 173); bottom:65%; left:35%;}
  70%{background-color:blue; bottom:70%; left:30%;}
  75%{background-color:rgb(0, 0, 133); bottom:75%; left:35%;}
  80%{background-color:rgb(68, 68, 255); bottom:80%; left:30%;}
  85%{background-color:blue; bottom:85%; left:35%;}
  90%{background-color:rgb(0, 0, 190); bottom:90%; left:30%;}
  95%{background-color:blue; bottom:95%; left:35%;}
  100%{background-color:rgb(0, 0, 167); bottom:150%; left:30%;}

}


#div7 {
position:fixed;
width: 100px;
height: 100px;
background-color: rgb(0, 4, 255);
animation-name: an2;
animation-duration: 20s;
animation-iteration-count: infinite;
border-radius: 100%;
animation-delay: -3;

}
#div8 {
position:fixed;
width: 100px;
height: 100px;
background-color: rgb(0, 4, 255);
animation-name: an2;
animation-duration: 20s;
animation-iteration-count: infinite;
border-radius: 100%;
left:20%;
animation-delay: -6.3s;

}

#div9 {
position:fixed;
width: 100px;
height: 100px;
background-color: rgb(0, 4, 255);
animation-name: an2;
animation-duration: 20s;
animation-iteration-count: infinite;
border-radius: 100%;
left:20%;
animation-delay: -7.8s;

}

#div10 {
position:fixed;
width: 100px;
height: 100px;
background-color: rgb(0, 4, 255);
animation-name: an2;
animation-duration: 20s;
animation-iteration-count: infinite;
border-radius: 100%;
left:20%;
animation-delay: -9.3s;

}

#div11 {
position:fixed;
width: 100px;
height: 100px;
background-color: rgb(0, 4, 255);
animation-name: an2;
animation-duration: 20s;
animation-iteration-count: infinite;
border-radius: 100%;
left:20%;
animation-delay: -18.2s;

}


@keyframes an3{
  0%{background-color:blue; bottom:-7%; left:50%;}
  5%{background-color:rgb(0, 0, 185); bottom:5%; left:55%;}
  10%{background-color:rgb(39, 39, 146); bottom:10%; left:50%;}
  15%{background-color:rgb(12, 12, 77); bottom:15%; left:55%;}
  20%{background-color:rgb(19, 19, 139); bottom:20%; left:50%;}
  25%{background-color:blue; bottom:25%; left:55%;}
  30%{background-color:rgb(44, 44, 255); bottom:30%; left:50%;}
  35%{background-color:rgb(0, 0, 145); bottom:35%; left:55%;}
  40%{background-color:rgb(49, 49, 255); bottom:40%; left:50%;}
  45%{background-color:rgb(0, 0, 146); bottom:45%; left:55%;}
  50%{background-color:blue; bottom:50%; left:50%;}
  55%{background-color:rgb(57, 57, 255); bottom:55%; left:55%;}
  60%{background-color:blue; bottom:60%; left:50%;}
  65%{background-color:rgb(55, 55, 173); bottom:65%; left:55%;}
  70%{background-color:blue; bottom:70%; left:50%;}
  75%{background-color:rgb(0, 0, 133); bottom:75%; left:55%;}
  80%{background-color:rgb(68, 68, 255); bottom:80%; left:50%;}
  85%{background-color:blue; bottom:85%; left:55%;}
  90%{background-color:rgb(0, 0, 190); bottom:90%; left:50%;}
  95%{background-color:blue; bottom:95%; left:55%;}
  100%{background-color:rgb(0, 0, 167); bottom:150%; left:50%;}

}


#div12 {
position:fixed;
width: 100px;
height: 100px;
background-color: rgb(0, 4, 255);
animation-name: an3;
animation-duration: 20s;
animation-iteration-count: infinite;
border-radius: 100%;
animation-delay: -3.4;

}
#div13 {
position:fixed;
width: 100px;
height: 100px;
background-color: rgb(0, 4, 255);
animation-name: an3;
animation-duration: 20s;
animation-iteration-count: infinite;
border-radius: 100%;
left:20%;
animation-delay: -2.8s;

}

#div14 {
position:fixed;
width: 100px;
height: 100px;
background-color: rgb(0, 4, 255);
animation-name: an3;
animation-duration: 20s;
animation-iteration-count: infinite;
border-radius: 100%;
left:20%;
animation-delay: -4.3s;

}

#div15 {
position:fixed;
width: 100px;
height: 100px;
background-color: rgb(0, 4, 255);
animation-name: an3;
animation-duration: 20s;
animation-iteration-count: infinite;
border-radius: 100%;
left:20%;
animation-delay: -6.8s;

}

#div16 {
position:fixed;
width: 100px;
height: 100px;
background-color: rgb(0, 4, 255);
animation-name: an3;
animation-duration: 20s;
animation-iteration-count: infinite;
border-radius: 100%;
left:20%;
animation-delay: -15.1s;

}

@keyframes an4{
  0%{background-color:blue; bottom:-7%; left:70%;}
  5%{background-color:rgb(0, 0, 185); bottom:5%; left:75%;}
  10%{background-color:rgb(39, 39, 146); bottom:10%; left:70%;}
  15%{background-color:rgb(12, 12, 77); bottom:15%; left:75%;}
  20%{background-color:rgb(19, 19, 139); bottom:20%; left:70%;}
  25%{background-color:blue; bottom:25%; left:75%;}
  30%{background-color:rgb(44, 44, 255); bottom:30%; left:70%;}
  35%{background-color:rgb(0, 0, 145); bottom:35%; left:75%;}
  40%{background-color:rgb(49, 49, 255); bottom:40%; left:70%;}
  45%{background-color:rgb(0, 0, 146); bottom:45%; left:75%;}
  50%{background-color:blue; bottom:50%; left:50%;}
  55%{background-color:rgb(57, 57, 255); bottom:55%; left:75%;}
  60%{background-color:blue; bottom:60%; left:70%;}
  65%{background-color:rgb(55, 55, 173); bottom:65%; left:75%;}
  70%{background-color:blue; bottom:70%; left:70%;}
  75%{background-color:rgb(0, 0, 133); bottom:75%; left:75%;}
  80%{background-color:rgb(68, 68, 255); bottom:80%; left:70%;}
  85%{background-color:blue; bottom:85%; left:75%;}
  90%{background-color:rgb(0, 0, 190); bottom:90%; left:70%;}
  95%{background-color:blue; bottom:95%; left:75%;}
  100%{background-color:rgb(0, 0, 167); bottom:150%; left:75%;}

}


#div17 {
position:fixed;
width: 100px;
height: 100px;
background-color: rgb(0, 4, 255);
animation-name: an4;
animation-duration: 20s;
animation-iteration-count: infinite;
border-radius: 100%;
animation-delay: -8.9;

}
#div18 {
position:fixed;
width: 100px;
height: 100px;
background-color: rgb(0, 4, 255);
animation-name: an4;
animation-duration: 20s;
animation-iteration-count: infinite;
border-radius: 100%;
left:20%;
animation-delay: -5.2s;

}

#div19 {
position:fixed;
width: 100px;
height: 100px;
background-color: rgb(0, 4, 255);
animation-name: an4;
animation-duration: 20s;
animation-iteration-count: infinite;
border-radius: 100%;
left:20%;
animation-delay: -4.3s;

}

#div20 {
position:fixed;
width: 100px;
height: 100px;
background-color: rgb(0, 4, 255);
animation-name: an4;
animation-duration: 20s;
animation-iteration-count: infinite;
border-radius: 100%;
left:20%;
animation-delay: -3.8s;

}

#div21 {
position:fixed;
width: 100px;
height: 100px;
background-color: rgb(0, 4, 255);
animation-name: an4;
animation-duration: 20s;
animation-iteration-count: infinite;
border-radius: 100%;
left:20%;
animation-delay: -13.1s;

}

#div22 {
  position:fixed;
  width: 100px;
  height: 100px;
  background-color: rgb(0, 4, 255);
  animation-name: an4;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  border-radius: 100%;
  left:20%;
  animation-delay: -17.3s;
  
  }
  
  #div23 {
  position:fixed;
  width: 100px;
  height: 100px;
  background-color: rgb(0, 4, 255);
  animation-name: an4;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  border-radius: 100%;
  left:20%;
  animation-delay: -7.8s;
  
  }
  
  #div24 {
  position:fixed;
  width: 100px;
  height: 100px;
  background-color: rgb(0, 4, 255);
  animation-name: an4;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  border-radius: 100%;
  left:20%;
  animation-delay: -16.1s;
  
  }
  
  

  #profile, #imageDisplay, #profilePicture{
    position:fixed;
    top:1%;
    right: 1%;
    width: 10%;
    height:20%;
    text-align: center;
    color:rgba(250, 235, 215, 0);
    border-style: hidden;
    border-radius: 100%;
    animation-name: p1;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-direction: alternate;

    
  }

  #profile_name{
    position:absolute;
    color:black;
    right:125px;
    top: 230px;
    position:absolute;
    text-decoration: none;
  }

  #Profile_style{
    background-color: rgb(255, 255, 255);


  }

  #cube{
    background-color: rgb(163, 163, 163);
    position:absolute;
    width:70%;
    height:70%;
    right: 20%;
    top:10%;
    text-align: center;
  }
  

  #back_button:visited{
    position:absolute;
    left:3%;

    color:white;
    text-decoration: none;
  }

  #back_button:link{
    position:absolute;
    color:white;
    left:3%;
    background-color: black;
    text-decoration: none;
    padding: 1%;
    width:5%;
    text-align: center;


  
  }

  #back_button:hover{
    background-color:white;
    display: block;
    color:black;
    border-width:3px;
    border-color:black;
  }

