#body1{
    background-image: url("/static/images/Tavern.png");
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment:fixed;
    background-position-x: 50%;
    background-position-y: 50%;
    



}
.bg{
  height:100%;
  width: 100%;


}





#HOME{
  background-color: rgba(0, 0, 0, 0.5);
  text-decoration: none;
  color:white;
  position:absolute;
  left: 6%;
  height:30%;
  width:9%;
  text-align: center;
  top:45%

}

#HOME:hover{
  background-color: rgba(255, 255, 255, 0.507);
  text-decoration: none;
  color:rgb(255, 255, 255);



}

#BB2{
    position:absolute;
    background-color:#860909;
    top: 28.8%;
    right: 35%;
    width: 50%;
    height: 50%;
    border-width: 2px;
    border-radius: 25% 25% 5% 5%;
    border-color: rgb(0, 0, 0);
    

    
}

#board:link, #board:visited{
  
    position:absolute;
    color:rgb(255, 255, 255);
    background-color: rgba(255, 0, 0, 0);
    text-decoration: none;
    display:block;
    top: 48%;
    right: 60%;
    width: 15%;
    height: 15%;
    border-width: 2px;
    border-color: rgba(255, 0, 0, 0);
    border-style:solid;
    text-align: center;
    font-size: 100%;
    margin-bottom: 60%;
  

    

  } 
  #board:hover{

    background-color:rgba(0, 0, 0, 0.568);
    color:white;

  }

  #profile, #imageDisplay, #profilePicture{
    position:absolute;
    right: 1%;
    width: 30%;
    text-align: center;
    color:rgba(250, 235, 215, 0);
    border-style: hidden;
    border-radius: 100%;
    
  }


#Request{
  position: absolute;
  background-color: rgba(0, 0, 0, 0.24);
  color:white;
  text-decoration: none;
  height:17%;
  width:5%;
  text-align: center;
  right:42%;
  top:45%;
}

#Request:hover{
  background-color: rgba(0, 0, 0, 0.568);

}